<% if @book_data.errors.any? %>
  <%= @book_data.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book_data.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'users/userinfo', user: @user %>

<%= render 'newbook', book: @book %>

<h1>Book detail</h1>

<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to "#{@user.name}", user_path(@user.id) %>
</div>

<div><%= link_to "#{@book_data.title}", book_path(@book_data.id) %></div>
<div><%= @book_data.opinion %></div>

<% if @book_data.user == current_user %>
  <div>
    <%= link_to "Edit", edit_book_path(@book_data) %> <!--(@book_data.id)では？-->
  </div>
  <div>
    <%= link_to "Destroy", book_path(@book_data.id), method: :delete, "data-confirm" => "本当に消しますか？" %><!--book_path(@book_data.id)では？？-->
    <!--URLに対して削除-->
  </div>
<% end %>
