<% if @book_data.errors.any? %>
  <h3>
    <%= @book_data.errors.count %>error prohibited this obj from being saved:
  </h3>
  <ul>
    <% @book_data.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container">
  <div class="row">

    <div class="col-md-3">
      <%= render 'users/userinfo', user: @user %>
      <%= render 'newbook', book: @book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(100,100) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to "#{@book_data.title}", book_path(@book_data.id) %>
            </td>
            <td>
              <%= @book_data.body %>
            </td>

            <% if @book_data.user == current_user %>
            <td>
              <%= link_to "Edit", edit_book_path(@book_data), class: "btn btn-sm btn-success"; %> <!--(@book_data.id)では？-->
            </td>
            <td>
              <%= link_to "Destroy", book_path(@book_data.id), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger"; %><!--book_path(@book_data.id)では？？-->
                <!--URLに対して削除-->
            </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


